<header class="headerpage width800 m-auto mt-15per">
  <div class="col-lg-10 logobox">
     <div class="logo"><img src="assets/images/peworksbluebanner.png" /></div>
     <div class="square dnone"><img src="assets/images/tma-blue-square.png" /></div>
  </div>
  <div class="col-lg-3 pullright rightpanelheader">
     <div class="options">
        <img src="assets/images/options-btn.png" />
        <div class="optionLinks">
           <ul>
              <li>text link1</li>
              <li>text link1</li>
              <li>text link1</li>
           </ul>
        </div>
     </div>
     <div class="actionPlan logoapmobile"><img src="assets/images/action_plan_header.png" /></div>
  </div>
  <p class="loadingdata">Loading data. Please wait...</p>
</header>