<div id="wrapper">
  <!-- Header Start -->
  <app-header></app-header>
  <!-- Section Start -->
  <section class="whitefiller">
     <app-school-reports></app-school-reports>
     <app-h2-title [pagetext]="'LEARN MORE ABOUT THIS REPORT >'" 
                   [bannerstyle]="'darkbluebackground pagelink'"></app-h2-title>
     <div class="subpagedetails dnone">
        <app-h2-title [pagetext]="'COLLABORATIVE TEACHERS AND RIGOROUS INSTRUCTION'" 
                  [bannerstyle]="'orangeback page1details'"></app-h2-title>
        <div class="subpage1details col-lg-10"> Include content from the PE Works "splash" page. </div>
        <app-h2-title [pagetext]="'STRONG FAMILY COMMUNITY TIES'" 
                      [bannerstyle]="'bluebgbackground page2details'"></app-h2-title>
        <div class="subpage2details col-lg-10"> Include content from the PE Works "splash" page. </div>
        <app-h2-title [pagetext]="'SUPPORTIVE ENVIRONMENTS'" 
                      [bannerstyle]="'greenfillerback2 page3details'"></app-h2-title>
        <div class="subpage3details col-lg-10"> Include content from the PE Works "splash" page. </div>
     </div>
     <app-report-details></app-report-details>
     <!-- MainPage Layout start -->
     <app-master-page></app-master-page>
     <!-- MainPage Layout End --> 
  </section>
  <!-- Footer Start -->
  <app-footer></app-footer>
  <p class="col-lg-10">&nbsp;</p>
</div>