<div class="subpagedetails subpagedetails2">
    <div class="spdcontent">
       <p><span class="font-h1">PE Works</span> is a multi-year improvement plan, funded by City Hall, to revitalize physical education so that our students receive high-quality, standards-based PE according to State requirements. Through this initiative, PE Works staff conducted a formal needs assessment to identify key barriers. We will support you in implementing a multi-year action plan to address these barriers.</p>
       <p>To kick-off your action plan, we have shared the initial action steps for the following conditions: Staff, Schedule, Encourage Learning, and Educate Community.</p>
       <p class="col-lg-10">&nbsp;</p>
       
       <H1>How to read this report?</H1>
       
       <app-details-item [type]="'Staffing'" [title]="'Staff'" [circletype]="'solidcircles'" [background]="'orange'"></app-details-item>
       <app-details-item [type]="'offClass'" [title]="'Staff'" [circletype]="'outlinedcircles'" [background]="'orange'"></app-details-item>
       <p class="col-lg-10">&nbsp;</p>
       
       <H1>Additional Conditions</H1>
       <p>Action Steps for these conditions will be shared in the future as part of your multi-year action plan.</p>
       <p>Email <a href="mailto:PEWorks@schools.nyc.gov">PEWorks@schools.nyc.gov</a> for more information.</p>
       
       <app-details-item [type]="'Observe'" [title]="'Observe'" [circletype]="'Observe'" [background]="'orange'"></app-details-item>
       <app-details-item [type]="'communicate'" [title]="'communicate'" [circletype]="'communicate'" [background]="'bluebg'"></app-details-item>
       <app-details-item [type]="'includeincep'" [title]="'Include in CEP'" [circletype]="'includeincep'" [background]="'bluebg'"></app-details-item>
       <app-details-item [type]="'designatespace'" [title]="'Designate space'" [circletype]="'designatespace'" [background]="'greenfiller'"></app-details-item>
       <app-details-item [type]="'fosterinclusivity'" [title]="'Foster inclusivity'" [circletype]="'fosterinclusivity'" [background]="'greenfiller'"></app-details-item>
       <p class="col-lg-10">&nbsp;</p>
    </div>
 </div>