<div class="Page">
    <app-h2-title [pagetext]="'You have established essential conditions for quality physical education at your school. Our collaboration will help you to:'" 
                  [bannerstyle]="'greenfillerback info'"></app-h2-title>
    <div class="nodata">
       <div class="msg">
          <p class="header">Oops! There seems to be a problem. If this continues, please contact the Office of School Wellness Programs.</p>
       </div>
    </div>
    <div class="col-lg-10 onClass">
       <app-on-report [type]="'Staffing'" [title]="'Staff'" [background]="'orange'"></app-on-report>
       <app-on-report [type]="'Schedule'" [title]="'Schedule'" [background]="'orange'"></app-on-report>
       <app-on-report [type]="'Observe'" [title]="'Observe'" [background]="'orange'"></app-on-report>
       <app-on-report [type]="'EncourageLearning'" [title]="'Encourage  Learning'" [background]="'orange'"></app-on-report>
       <app-on-report [type]="'Communicate'" [title]="'Communicate'" [background]="'bluebg'"></app-on-report>
       <app-on-report [type]="'EducateCommunity'" [title]="'Educate Community'" [background]="'bluebg'"></app-on-report>
       <app-on-report [type]="'IncludeinCEP'" [title]="'IncludeinCEP'" [background]="'bluebg'"></app-on-report>
       <app-on-report [type]="'DesignateSpace'" [title]="'Designate Space'" [background]="'greenfiller'"></app-on-report>
       <app-on-report [type]="'FosterInclusivity'" [title]="'Foster Inclusivity'" [background]="'greenfiller'"></app-on-report>
    </div>
    <app-h2-title [pagetext]="'You require targeted support with several conditions that are necessary for quality PE. Our collaboration will help you to:'" 
                  [bannerstyle]="'yellowfiller info'"></app-h2-title>
    <div class="offClass">
        <app-off-report [type]="'Staffing'" [title]="'Staff'" [background]="'orange'"></app-off-report>
        <app-off-report [type]="'Schedule'" [title]="'Schedule'" [background]="'orange'"></app-off-report>
        <app-off-report [type]="'Observe'" [title]="'Observe'" [background]="'orange'"></app-off-report>
        <app-off-report [type]="'EncourageLearning'" [title]="'Encourage  Learning'" [background]="'orange'"></app-off-report>
        <app-off-report [type]="'Communicate'" [title]="'Communicate'" [background]="'bluebg'"></app-off-report>
        <app-off-report [type]="'EducateCommunity'" [title]="'Educate Community'" [background]="'bluebg'"></app-off-report>
        <app-off-report [type]="'IncludeinCEP'" [title]="'IncludeinCEP'" [background]="'bluebg'"></app-off-report>
        <app-off-report [type]="'DesignateSpace'" [title]="'Designate Space'" [background]="'greenfiller'"></app-off-report>
        <app-off-report [type]="'FosterInclusivity'" [title]="'Foster Inclusivity'" [background]="'greenfiller'"></app-off-report>
    </div>
 </div>