<div class="nodata" *ngIf="!report">
    <div class="msg">
        <p class="header">Oops! There seems to be a problem. If this continues, please contact the Office of School Wellness Programs.</p>
    </div>
</div>
<div class="Page" *ngIf="report">
    <app-h2-title *ngIf="existsOn" [pagetext]="'You have established essential conditions for quality physical education at your school. Our collaboration will help you to:'" 
                  [bannerstyle]="'greenfillerback info'"></app-h2-title>
    <div class="col-lg-10 onClass">
       <app-on-report *ngIf="report.Staffing === 'On'" [type]="'Staffing'" [title]="'Staff'" [background]="'orange'"></app-on-report>
       <app-on-report *ngIf="report.Schedule === 'On'" [type]="'Schedule'" [title]="'Schedule'" [background]="'orange'"></app-on-report>
       <app-on-report *ngIf="report.Observe === 'On'" [type]="'Observe'" [title]="'Observe'" [background]="'orange'"></app-on-report>
       <app-on-report *ngIf="report.EncourageLearning === 'On'" [type]="'EncourageLearning'" [title]="'Encourage  Learning'" [background]="'orange'"></app-on-report>
       <app-on-report *ngIf="report.Communicate === 'On'" [type]="'Communicate'" [title]="'Communicate'" [background]="'bluebg'"></app-on-report>
       <app-on-report *ngIf="report.EducateCommunity === 'On'" [type]="'EducateCommunity'" [title]="'Educate Community'" [background]="'bluebg'"></app-on-report>
       <app-on-report *ngIf="report.IncludeinCEP === 'On'" [type]="'IncludeinCEP'" [title]="'IncludeinCEP'" [background]="'bluebg'"></app-on-report>
       <app-on-report *ngIf="report.DesignateSpace === 'On'" [type]="'DesignateSpace'" [title]="'Designate Space'" [background]="'greenfiller'"></app-on-report>
       <app-on-report *ngIf="report.FosterInclusivity === 'On'" [type]="'FosterInclusivity'" [title]="'Foster Inclusivity'" [background]="'greenfiller'"></app-on-report>
    </div>
    <app-h2-title *ngIf="existsOff" [pagetext]="'You require targeted support with several conditions that are necessary for quality PE. Our collaboration will help you to:'" 
                  [bannerstyle]="'yellowfiller info'"></app-h2-title>
    <div class="offClass">
        <app-off-report *ngIf="report.Staffing === 'Off'" [type]="'Staffing'" [title]="'Staff'" [background]="'orange'"></app-off-report>
        <app-off-report *ngIf="report.Schedule === 'Off'" [type]="'Schedule'" [title]="'Schedule'" [background]="'orange'"></app-off-report>
        <app-off-report *ngIf="report.Observe === 'Off'" [type]="'Observe'" [title]="'Observe'" [background]="'orange'"></app-off-report>
        <app-off-report *ngIf="report.EncourageLearning === 'Off'" [type]="'EncourageLearning'" [title]="'Encourage  Learning'" [background]="'orange'"></app-off-report>
        <app-off-report *ngIf="report.Communicate === 'Off'" [type]="'Communicate'" [title]="'Communicate'" [background]="'bluebg'"></app-off-report>
        <app-off-report *ngIf="report.EducateCommunity === 'Off'" [type]="'EducateCommunity'" [title]="'Educate Community'" [background]="'bluebg'"></app-off-report>
        <app-off-report *ngIf="report.IncludeinCEP === 'Off'" [type]="'IncludeinCEP'" [title]="'IncludeinCEP'" [background]="'bluebg'"></app-off-report>
        <app-off-report *ngIf="report.DesignateSpace === 'Off'" [type]="'DesignateSpace'" [title]="'Designate Space'" [background]="'greenfiller'"></app-off-report>
        <app-off-report *ngIf="report.FosterInclusivity === 'Off'" [type]="'FosterInclusivity'" [title]="'Foster Inclusivity'" [background]="'greenfiller'"></app-off-report>
    </div>
 </div>